body {
  background: white;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

#body, #side_body {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

#menu ul {
  list-style-type: none;
  padding-left: 0;
  li {
    border: 1px dotted black;
    border-left: 4px solid black;
    width: 200px;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
    }
    &.selected a, a:hover {
      background: #b0ce38;
    }
  }
}

nav.menu {
  float: left;
  margin-right: 100px;
}

#logo {
  padding: 20px;
  height: 100px;

  img {
    width: 100px;
    height: 100px;
    float: left;
  }

  a {
    text-decoration: none;
    color: black;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
  }
}

#page {
  #body_content_title {
    color: #b0ce38;
    font-size: 24px;
  }
}

.row {
  margin-bottom: 15px;
}
