body {
  background: white;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

#body, #side_body {
  float: left;
  background: white;
  color: #333;
}

#menu ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  float: right;


  li {
    display: inline;
    float: left;
    width: 100px;
    text-align: center;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: -2px 2px 2px;

    a {
      padding: 5px 10px;
      text-decoration: none;
      color: black;
      line-height: 30px;
      font-weight: 600;
      font-size: 15px;
    }
    &.selected , &:hover {
      background-color: #ddfb3f;
    }
  }
}

nav.menu {
  float: right;
}

#logo {
  padding: 20px;
  height: 100px;

  img {
    width: 100px;
    height: 100px;
    float: left;
  }

  a {
    text-decoration: none;
    color: black;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
  }
}

#page {
  #body_content_title {
    color: #b0ce38;
    font-size: 24px;
  }
}

.row {
  margin-bottom: 15px;
}

#slider {
  height: 400px;

  img {
    height: 400px;
    width: 400px;
  }
}

#slider-wrapper {
  width: 100%;
  padding: 7px 15px 0px;
  background-color: #b0ce38;

  .nivo-controlNav {
    padding: 0;
  }
}

ul#posts {
  list-style-type: none;

  li {
    margin-bottom: 40px;
    margin-right: 40px;
    border: 1px solid #b9f73e;
    box-shadow: -2px 3px 2px 0px;
    padding-top: 20px;
    height: 240px;
    overflow: hidden;

    .title {
      margin-bottom: 20px;

      a {
        font-size: 25px;
        color: #b0ce38;
      }
    }
  }
}

#main-content {
  padding-top: 39px;
  min-height: 400px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}

#header {
  padding-bottom: 20px;
  border-bottom: 2px solid #b0ce38;
}

#header-menu {
  padding: 5px 0;
  background-color: #b0ce38;
}

#footer {
  margin-top: 100px;
  padding-top: 20px;
  background-color: #b0ce38;
}

.site-name {
  margin-top: -8px;
}

.nivo-controlNav a {
  padding: 0 5px;
}

a {
  color: black;
}
